{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}add-action{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add action' %}</a></li>
        </ul>

        <div id="data">
            <h2>{% trans 'Data' %}</h2>
            <form action="{% url lfs_add_action %}"
                  method="post">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}
                
                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Add' %}" />

                    <input type="button"
                           class="button"
                           onclick="window.location='{{request.META.HTTP_REFERER}}'"
                           value="{% trans 'Cancel' %}" />
                </div>

            </form>
        </div>
    </div>
{% endblock %}