{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Shop' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#default-values">{% trans 'Default Values' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#portlets">{% trans 'Portlets' %}</a></li>
        </ul>

        <div id="data">
            <h2>{% trans 'Data' %}</h2>
            <form action="{% url lfs_manage_shop %}"
                  method="post"
                  enctype="multipart/form-data">
                {% include "manage/lfs_form.html" %}
                
                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Save shop' %}" />
                </div>
            </form>
        </div>
        <div id="default-values">
            {{ default_values }}
        </div>
        <div id="portlets">
            {{ portlets|safe }}
        </div>
    </div>
    <script>
        $(function() {
            addEditor('#id_description');
        });
    </script>

{% endblock %}