{% load i18n %}

<h2 class="heading-first">{% trans 'Images' %}</h2>

{% if product.is_variant %}
    <form id="active-images-update-form"
          action="{% url 'lfs_manage_update_active_images' product.id %}"
          method="post">
        {% csrf_token %}
        <input type="checkbox"
               name="active_images"
               {% if product.active_images %}checked="checked"{% endif %} />
        <label for="active_accessories">
            {% trans 'Active images' %}
        </label>
        <input class="images-update-button"
               type="submit" value="{% trans "Update" %}" />
    </form>
{% endif %}

<div id="images-list">
    {% include "manage/product/images-list.html" %}
</div>

<h2 class="heading-middle">{% trans 'Add images' %}</h2>

<div id="content">
    <form id="file_upload" action="{% url 'lfs_manage_add_image' product.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="button" type="file" name="files[]" multiple>
    </form>
    <table id="images-uploads-table" data="{% url 'lfs_manage_images' product.id %}" msg='{% trans "Uploading images:" %}'></table>
</div>
