include README.txt
recursive-include lfs/core/fixtures *
recursive-include lfs/docs *
recursive-include lfs/locale *
recursive-include lfs/manage/static *
recursive-include lfs/manage/templates *
recursive-include lfs/utils/data *
