{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}add-static-block{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add static block' %}</a></li>
        </ul>
        <div id="data">
            <h2>{% trans 'Add static block' %}</h2>
            <form action=""
                  method="post">
                {% csrf_token %}  
                {% include "manage/lfs_form.html" %}
                <input type="submit"
                       class="button"
                       value="{% trans 'Save static block' %}">

                {% if  request.META.HTTP_REFERER %}                       
                    <input type="button"
                           class="button"
                           onclick="window.location='{{request.META.HTTP_REFERER}}'"
                           value="{% trans 'Cancel' %}" />
                {% endif %}
            </form>
        </div>
    </div>    
    <script type="text/javascript">
        tinyMCE.execCommand('mceAddControl', true, 'id_html');
    </script>    
{% endblock %}