{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block title %}{% trans "Add payment Method" %}{% endblock %}
{% block section %}add-payment-method{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add payment method' %}</a></li>
        </ul>
        <div id="data">
            <h2>{% trans "Add payment Method" %}</h2>
            <form method="post">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}
                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Add payment method' %}" />

                    <input type="button"
                           class="button"
                           onclick="window.location='{{ next }}'"
                           value="{% trans 'Cancel' %}" />

                    <input type="hidden"
                           name="next"
                           value="{{ next }}" />
                </div>
            </form>
        </div>
</div>
{% endblock %}
