{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage Payment Methods" %}{% endblock %}
{% block section %}manage-payment-methods{% endblock %}
{% block left_slot %}
    <div id="payment-methods">
        {{ payment_methods }}
    </div>
{% endblock %}

{% block content %}
    <div class="site-actions">
        <a class="add"
           href="{% url lfs_add_payment_method %}">
            {% trans 'Add payment Method' %}</a>

        {% if payment_method.deletable %}
            <a class="delete delete-link"
               dialog_message="{% trans 'Do you really want to delete this payment method?' %}"
               href="{% url lfs_delete_payment_method payment_method.id %}">
                {% trans 'Delete payment method' %}</a>
        {% endif %}
    </div>

    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Payment Method' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#criteria">{% trans 'Criteria' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#prices">{% trans 'Prices' %}</a></li>
        </ul>

        <div id="data">
            {{ data }}
        </div>

        <div id="criteria">
            {{ method_criteria }}
        </div>

        <div id="prices">
            {{ method_prices }}
        </div>
    </div>
{% endblock %}
