{% load i18n %}

<div style="padding-top:12px" class="discreet">{% trans "Pages" %}</div>
<div class="navigation-pages" style="width:100%;">
    {% if page.has_previous %}
        <a class="ajax-link"
           href="{% url lfs_set_selectable_orders_page %}?page=1&amp;order-id={{ current_order.id }}">
            <img src="{{ STATIC_URL }}icons/resultset_first.png"
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />
        </a>
        <a class="ajax-link"
           href="{% url lfs_set_selectable_orders_page %}?page={{page.previous_page_number}}&amp;order-id={{ current_order.id }}">
            <img src="{{ STATIC_URL }}icons/resultset_previous.png"
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />
        </a>
    {% else %}
        <span>
            <img src="{{ STATIC_URL }}icons/resultset_first.png"
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />
        </span>
        <span>
            <img src="{{ STATIC_URL }}icons/resultset_previous.png"
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />
        </span>
    {% endif %}

    {{page.number}}  {% trans 'of' %} {{paginator.num_pages}}

    {% if page.has_next %}
        <a class="ajax-link"
           href="{% url lfs_set_selectable_orders_page %}?page={{page.next_page_number}}&amp;order-id={{ current_order.id }}">
            <img src="{{ STATIC_URL }}icons/resultset_next.png"
                 alt="{% trans 'Next' %}"
                 title="{% trans 'Next' %}" />
        </a>
        <a class="ajax-link"
           href="{% url lfs_set_selectable_orders_page %}?page={{paginator.num_pages}}&amp;order-id={{ current_order.id }}">
            <img src="{{ STATIC_URL }}icons/resultset_last.png"
                 alt="{% trans 'Last' %}"
                 title="{% trans 'Last' %}" />
        </a>
    {% else %}
        <img src="{{ STATIC_URL }}icons/resultset_next.png"
             alt="{% trans 'Next' %}"
             title="{% trans 'Next' %}" />
        <img src="{{ STATIC_URL }}icons/resultset_last.png"
             alt="{% trans 'Last' %}"
             title="{% trans 'Last' %}" />
    {% endif %}
</div>

{% for order in page.object_list %}
    <div class="navigation-body">
        <a href="{% url lfs.manage.views.order_view order.id %}"
           class="selectable {% ifequal order.id current_order.id %}selected{% endifequal %}">
            {% if order.number %}
                {{ order.number }}
            {% else %}
                {% trans "N/A" %}
            {% endif %}
        </a>
    </div>
{% endfor %}
