{% extends "manage/base.html" %}
{% load i18n static crispy_forms_tags lfs_carousel_tags %}

{% block help_link %}user/management/shop/preferences.html{% endblock %}
{% block section %}manage-shop{% endblock %}
{% block content %}
    <div class="lfs-shop">
        <div class="row">
            <main class="col-12 p-4 pt-3 scrollable-content">
                <div class="padding-bottom-100">
                    <div class="d-flex justify-content-between fw-semibold">
                        <nav aria-label="Breadcrumb" class="me-2 mb-4">
                            <ol class="breadcrumb mb-0 small">
                                <li class="breadcrumb-item">Manage</li>
                                <li class="breadcrumb-item active" aria-current="page">Shop Settings</li>
                            </ol>
                        </nav>                                
                    </div>

                    <ul class="nav nav-tabs" id="shopTabs" role="tablist" hx-swap-oob="true">
                        {% for key, url in tabs %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if active_tab == key %}active{% endif %}" 
                                href="{{ url }}" 
                                role="tab"
                                aria-controls="{{ key }}-content"
                                aria-selected="{% if active_tab == key %}true{% else %}false{% endif %}">
                                    {% if key == "data" %}{% trans "Shop" %}
                                    {% elif key == "default_values" %}{% trans "Default Values" %}
                                    {% elif key == "order_numbers" %}{% trans "Order Numbers" %}
                                    {% elif key == "seo" %}{% trans "SEO" %}
                                    {% elif key == "portlets" %}{% trans "Portlets" %}
                                    {% elif key == "carousel" %}Karussell
                                    {% else %}{% trans key|title %}{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="tab-content border border-top-0 bg-white p-4" id="shopTabsContent">
                        {% if active_tab == "data" %}
                            {% include "manage/shop/tabs/_data.html" %}
                        {% elif active_tab == "default_values" %}
                            {% include "manage/shop/tabs/_default_values.html" %}
                        {% elif active_tab == "order_numbers" %}
                            {% include "manage/shop/tabs/_order_numbers.html" %}
                        {% elif active_tab == "seo" %}
                            {% include "manage/shop/tabs/_seo.html" %}
                        {% elif active_tab == "portlets" %}
                            {% include "manage/shop/tabs/_portlets.html" %}
                        {% elif active_tab == "carousel" %}
                            {% carousel_management shop %}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% include 'manage/snippets/modals/modal-lg.html' %}
    {% include 'manage/snippets/modals/modal-xl.html' %}
    {% include 'manage/snippets/modals/modal-sm.html' %}
{% endblock %}