{% load i18n crispy_forms_tags %}

{# Options-Tab für globale Voucher-Einstellungen #}
<div class="alert alert-info">
    <i class="bi bi-info-circle me-2"></i>
    {% trans "These options apply globally to all voucher groups." %}
</div>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons mt-3">
        <button class="btn btn-primary" type="submit">
            <i class="bi bi-save me-1"></i>
            {% trans 'Save voucher options' %}
        </button>
    </div>
</form>
