{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block help_link %}user/management/shop/customer_taxes.html{% endblock %}

{% block left_slot %}
    <h2 class="navigation-title">
        {% trans "Customer Taxes" %}
    </h2>
    <div class="navigation-body" id="navigation">
        {{ navigation|safe }}
    </div>
{% endblock %}

{% block content %}

    <div class="site-actions">
        <a class="add"
           href="{% url 'lfs_add_customer_tax' %}">{% trans 'Add Customer Tax' %}</a>

        <a class="delete delete-link"
           dialog_message="{% trans 'Do you really want to delete this customer tax?' %}"
           href="{% url 'lfs_delete_customer_tax' customer_tax.id %}">{% trans 'Delete Customer Tax' %}</a>
    </div>

    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Customer Tax' %}</a></li>
            <li class="ui-tabs-nav-item"><a href="#criteria">{% trans 'Criteria' %}</a></li>
        </ul>
        <div id="data">
            {{ data|safe }}
        </div>
        <div id="criteria">
            {{ criteria|safe }}
        </div>
    </div>
{% endblock %}
