{% load i18n %}

<h2>{% trans 'Files' %}</h2>

<div id="files-list">
    {% include "manage/static_block/files-list.html" %}
</div>

<h2 class="heading-middle">{% trans 'Add files' %}</h2>

<div id="content">
    <form id="file_upload" action="{% url 'lfs_add_files_to_static_block' static_block.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="button" type="file" name="files[]" multiple>
    </form>
    <table id="files-uploads-table" data="{% url 'lfs_reload_files' static_block.id %}" msg='{% trans "Uploading images:" %}'></table>
</div>
