{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block help_link %}user/management/shop/manufacturers.html{% endblock %}
{% block section %}add-manufacturer{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add Manufacturer' %}</a></li>
        </ul>
        <div id="data">
            <h2>{% trans "Data" %}</h2>
            <form method="post">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}
                <input type="submit"
                       class="button"
                       name="save"
                       value="{% trans 'Add Manufacturer' %}" />
                <input type="button"
                       class="button"
                       onclick="window.location='{{ came_from }}'"
                       value="{% trans 'Cancel' %}" />
            </form>
        </div>
    </div>
{% endblock %}
