{% load i18n %}

<table>
 <tr>
   <td>
    <select onchange ="document.getElementById('{{selectimageid}}').src=this.options[this.selectedIndex].title"        
     {{finalattrs|safe}}>     
     {%for id,urls in choices%}     
     {%with id|stringformat:"s" as idstring%}
      {{id}} {{currentvalue}}
     {%ifequal idstring currentvalue %}
  	   <option value="{{id}}" title="{{urls.image}}" selected="selected">{{urls.file}}</option>
  	   {%else%}
  	   <option value="{{id}}" title="{{urls.image}}">{{urls.file}}</option>  	   
  	   {%endifequal%}
  	 {%endwith%}
     {%endfor%}
   </select>
   </td>
   <td>
     <img src="" id="{{selectimageid}}">
   </td>
 </tr>
</table>