.pagination {
    .page-link {
        min-height: 31px;
        min-width: 31px;
    }
}

.scrollable-content {
    height: calc(100vh - 57px);
    overflow-y: auto;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}