{% load i18n %}

<h2>{% trans 'Data' %}</h2>

<form action="{% url lfs_manage_category_edit_data category.id %}"
      method="post"
      class="category-data-form"
      enctype="multipart/form-data">

    {% include "manage/lfs_form.html" %}

    <div class="buttons">
        <input value="{% trans 'Save data' %}"
               type="submit"
               class="category-data-save-button button"/>
    </div>
</form>
<script>
    $(function() {
        $(".button").button();
        addEditor('#id_description');
        addEditor('#id_short_description');
    });
</script>

