{% load i18n %}
<h2 class="navigation-title">{% trans "Categories" %}</h2>
<div class="navigation-body manage-categories-portlet">
    <ul class="manage-categories-tree">
        {% for category in categories %}
            <li id="category_{{ category.id }}">
                <a class="selectable {% if category.is_current %}selected{% endif %}"
                   href="{% url lfs_manage_category category.id %}">
                    {{ category.name }}
                </a>
                {{ category.children }}
            </li>
        {% endfor %}
    </ul>
</div>