{% load i18n %}

<h2>{% trans 'View' %}</h2>

<form action="{% url lfs_manage_category_view category.id %}"
      method="post"
      class="category-data-form">
    {% csrf_token %}
    {% include "manage/lfs_form.html" %}
    <div class="buttons">
        <input value="{% trans 'Save View' %}"
               type="submit"
               class="ajax-save-button button" />
    </div>
</form>
<script>
    $(function() {
        update_form();

        $("#id_active_formats").click(function() {
            update_form();
        });

        $("#id_template").change(function() {
            update_form();
        });

        function update_form() {
            var template_name = $("#id_template").selected().attr("value");
            if (template_name == "0") {
                $("#id_category_cols").parents(".field").hide();
                $("#id_show_all_products").parents(".field").show();
                if ($("#id_active_formats:checked").val() == null) {
                    $("#id_product_cols, #id_product_rows").parents(".field").hide();
                }

                else {
                    $("#id_product_cols, #id_product_rows").parents(".field").show();
                }
            }
            else {
                $("#id_show_all_products, #id_product_cols, #id_product_rows").parents(".field").hide();

                if ($("#id_active_formats:checked").val() == null) {
                    $("#id_category_cols").parents(".field").hide();
                }
                else {
                    $("#id_category_cols").parents(".field").show();

                }
            }
        }
    })
</script>
