{% load i18n crispy_forms_tags %}

<h5 id="modal-title-lg" class="modal-title" hx-swap-oob="true">
    {% if parent_id %}
        {% trans 'Add Sub Category' %} to {{ parent_name }}
    {% else %}
        {% trans 'Add Top Category' %}
    {% endif %}
</h5>

{% block content %}
    <div class="row">
        <div class="col-12">
            {% if parent_id %}
                <form method="post" action="{% url 'lfs_manage_add_category' parent_id=parent_id %}">
            {% else %}
                <form method="post" action="{% url 'lfs_manage_add_top_category' %}">
            {% endif %}
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>
                        {% trans "Add Category" %}
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>
                        {% trans "Cancel" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
