{% extends "manage/manage_base.html" %}
{% load compress  i18n static %}

{% block help_link %}user/management/shop/images.html{% endblock %}

{% block title %}{% trans "Manage images" %}{% endblock %}
{% block section %}manage-images{% endblock %}

{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'lfs/js/lfs.manage.shop-images.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div class="site-actions"></div>

    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#images">{% trans 'Global images' %}</a></li>
        </ul>

        <div id="images">
            <h2>{% trans "Global images" %}</h2>

            {% include "lfs/catalog/categories/product/products_navigation.html" %}

            <div class="filter-wrapper">
                <form action="{% url 'lfs_manage_global_images' %}" method="get">
                    {% csrf_token %}
                    <input type="text" value="{{ query }}" name="q" /> <input class="filter-button" type="submit" value="{% trans "Filter" %}" />
                    <input type="hidden" value="{{ pagination.current_page }}" name="start" />
                </form>
            </div>

            <div id="files-list">
                {% include "manage/images/images-list.html" %}
            </div>

            <h2 class="heading-middle">{% trans 'Add images' %}</h2>

            <div id="content">
                <form id="file_upload" action="{% url 'lfs_manage_add_global_image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="button" type="file" name="files[]" multiple>
                </form>
                <table id="files-uploads-table" data="{% url 'lfs_manage_global_images_list' %}" msg='{% trans "Uploading images:" %}'></table>
            </div>
        </div>
    </div>
{% endblock %}
