{% load i18n crispy_forms_tags %}

<h5 id="modal-title-lg" class="modal-title" hx-swap-oob="true">
    {% trans 'Add Manufacturer' %}
</h5>

<div class="row">
    <div class="col-12">
        <form method="post" action="{% url 'lfs_manage_add_manufacturer' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    {% trans "Add Manufacturer" %}
                </button>
                <a href="{% url 'lfs_manage_manufacturers' %}" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                    {% trans "Cancel" %}
                </a>
            </div>        
        </form>
    </div>
</div>