{% extends "manage/manage_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content %}
    <div class="lfs-actions">
        <div class="row">
            <aside class="col-3 bg-white border-end vh-100 p-4">
                <h2 class="h4 mb-3">{% trans "Actions" %}</h2>
                <div class="input-group">
                    <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
                    <input type="search" class="form-control" placeholder="Suchen …" aria-label="Suchen">
                  </div>
        
                <div id="action-groups" hx-swap-oob="true">
                    {% for group in groups %}
                        <div class="action-group-name mt-3 mb-2">{{ group.name }}</div>
                            <div class="action-group" data-list="{{ group.id }}">
                                {% for group_action in group.actions.all %}
                                    <a class="d-block p-2 mb-1 border rounded text-decoration-none action-item {% if group_action.id == action.id %}bg-primary text-white{% else %}bg-light text-dark{% endif %}" 
                                       data-id="{{ group_action.id }}" 
                                       href="{% url 'lfs_manage_action' group_action.id %}">
                                       {{ group_action.title }}
                                    </a>
                                {% endfor %}
                            </div>
                    {% endfor %}
                </div>
            </aside>

        <main class="col-9 p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="h4 mb-3">{% trans 'Edit Action' %}</h2>
                <div class="site-actions mb-3" 
                     id="site-actions" 
                     hx-swap-oob="true">

                    <button class="btn btn-sm btn-outline-primary" 
                        hx-get="{% url 'lfs_add_action' %}" 
                        hx-target="#modal-body" 
                        hx-trigger="click" 
                        hx-swap="innerHTML" 
                        id="add-action-btn">
                        <i class="bi bi-plus-circle-fill"></i>
                        {% trans 'Add action' %}
                    </button>

                    <a class="btn btn-sm btn-outline-danger"
                        href="{% url 'lfs_delete_action' action.id %}"
                        hx-post="{% url 'lfs_delete_action' action.id %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-select="#data-content"
                        hx-target="#data-content"
                        hx-swap="innerHTML"
                        hx-push-url="true"
                        hx-confirm="Möchten Sie diese Aktion wirklich löschen?">
                        <i class="bi bi-trash"></i>
                        {% trans 'Delete action' %}
                    </a>

                    <a class="btn btn-sm btn-outline-secondary"
                        href="{% url 'lfs_shop_view' %}">
                        <i class="bi bi-box-arrow-up-right"></i>
                        {% trans 'View Shop' %}
                    </a>
                </div>
            </div>

            <ul class="nav nav-tabs" id="actionTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-content" type="button" role="tab" aria-controls="data-content" aria-selected="true">{% trans 'Data' %}</button>
                </li>
            </ul>
                
            <div class="tab-content border border-top-0 bg-white p-4" id="actionTabsContent">
                <div class="tab-pane fade show active" 
                        id="data-content" 
                        role="tabpanel" 
                        aria-labelledby="data-tab">
                    <form hx-post="."
                          hx-swap="none">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="buttons">
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-save me-1"></i>
                                {% trans 'Save' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script>
        window.LFS_SORT_ACTIONS_URL = '{% url "lfs_sort_actions" %}';
    </script>
    <script src="{% static 'lfs/js/management/action.js' %}"></script>
{% endblock %}