{% load i18n crispy_forms_tags %}

<h5 id="modal-title" class="modal-title" hx-swap-oob="true">{% trans 'Add action' %}</h5>
<form method="post" hx-post="{% url 'lfs_add_action' %}" hx-target="#modal-body" hx-swap="innerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="buttons">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i>
            {% trans 'Add' %}
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% trans 'Cancel' %}
        </button>
    </div>
</form>
