{% extends "manage/manage_base.html" %}
{% load i18n static %}

{% block help_link %}user/management/shop/actions.html{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm my-5">
                <div class="card-body text-center p-5">
                    <h2 class="card-title mb-4">{% trans "Actions" %}</h2>
                    <div id="data-content" class="card-text mb-4">
                        {% trans "There are no actions defined yet." %}
                    </div>

                    <div class="buttons mt-4">
                        <button class="btn btn-primary" 
                                hx-get="{% url 'lfs_add_action' %}" 
                                hx-target="#modal-body-lg" 
                                hx-trigger="click" 
                                hx-swap="innerHTML">
                            {% trans "Add Action" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'manage/snippets/modals/modal-lg.html' %}
    <script src="{% static 'lfs/js/management/action.js' %}"></script>
{% endblock %}
