{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block title %}{% trans "Manage Supplier" %}{% endblock %}
{% block section %}manage-supplier{% endblock %}
{% block help_link %}user/management/shop/suppliers.html{% endblock %}

{% block left_slot %}
    <h2 class="navigation-title">{% trans "Suppliers" %}</h2>
    <div class="navigation-body"
         id="selectable-suppliers">
        {{ selectable_suppliers_inline|safe }}
    </div>
{% endblock %}

{% block content %}
    <div class="site-actions">
        <a class="add"
           href="{% url lfs_supplier_add_supplier %}?came_from={% url lfs_manage_supplier supplier_id %}">
           {% trans 'Add Supplier' %}</a>
        <a class="delete delete-link"
           dialog_message="{% trans 'Do you really want to delete this supplier?' %}"
           href="{% url lfs_supplier_delete_supplier supplier_id %}">
           {% trans 'Delete Supplier' %}</a>
    </div>
    <div id="supplier-tabs">
        <div id="data">
            {{ supplier_data_inline|safe }}
        </div>
    </div>
{% endblock %}
