{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block left_slot %}
    <div class="navigation-left-title">
        {% trans "Property groups" %}
    </div>
    {% for property_group in property_groups %}
        <div>
            <a href="{% url lfs_manage_property_group property_group.id %}"
               class="selectable {% ifequal property_group.id current_id %}selected{% endifequal %}">
                {{property_group.name}}
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div id="manage-tabs">
        
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Property Group' %}</a></li>            
        </ul>

        <div id="data">
            <h2>{% trans 'Add property Group' %}</h2>
            <form action="{% url lfs_add_property_group %}"
                  method="post">
                {% include "manage/lfs_form.html" %}
                <input type="submit"
                       value="{% trans 'Add property group' %}" />
                    {% if  request.META.HTTP_REFERER %}                       
                        <input type="button"
                               onclick="window.location='{{request.META.HTTP_REFERER}}'"
                               value="{% trans 'Cancel' %}" />
                    {% endif %}
            </form>
        </div>
    </div>        
{% endblock %}