{% load i18n %}
{% load lfs_manage_tags %}

{% if product.is_variant %}
    <form id="accessories-update-form"
          action="{% url lfs_manage_update_accessories property_group.id %}"
          method="post">
        <input type="checkbox" 
               name="active_accessories" 
               {% if product.active_accessories %}checked="checked"{% endif %} />                   
        <label for="active_accessories">
            {% trans 'Active accessories' %}
        </label>
        <input class="accessories-update-button"
               type="submit" value="Update" />
    </form>
{% endif %}    

<h2>{% trans 'Products' %}</h2>

<form id="filter-products-form"
      action="{% url lfs_pg_products_inline property_group.id %}"
      onsubmit="return false">
    <input class="filter-products-input" type="text" name="filter"/>
    
    {% category_filter "products-categories-filter" "products_category_filter" %}
</form>

<div id="products-inline">
    {{products_inline}}
</div>