{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}manage-page{% endblock %}
{% block left_slot %}
    <h2 class="navigation-title">
        {% trans "Pages" %}
    </h2>
    <div class="navigation-body">
        {% for page in pages %}
            <div>
                <a href="{% url lfs_manage_page page.id %}"
                   class="selectable {% ifequal page.id current_id %}selected{% endifequal %}">
                    {{page.title}}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

    <div class="site-actions">
        <a class="add"
           href="{% url lfs_add_page %}">{% trans 'Add Page' %}</a>

        <a class="delete delete-link"
           dialog_message="{% trans 'Do you really want to delete this page?' %}"
           href="{% url lfs_delete_page page.id %}">{% trans 'Delete Page' %}</a>

        <a class="view popup-link"
           href="{% url lfs_page_view page.slug %}">{% trans 'View Page' %}</a>

        <a class="goto"
           href="{% url lfs_page_view page.slug %}">{% trans 'Goto Page' %}</a>
    </div>

    <div id="manage-tabs">

        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Page' %}</a></li>
        </ul>

        <div id="data">
            <h2>{% trans 'Data' %}</h2>
            <form action="{% url lfs_manage_page page.id %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}

                <div class="buttons">
                    <input type="submit"
                           class="button"
                           value="{% trans 'Save data' %}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}