{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}add-export{% endblock %}
{% block left-slot-wrapper %}{% endblock %}

{% block content %}
    <div id="manage-tabs">

        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Selection' %}</a></li>
        </ul>

        <div id="data">
            <form class="lfc-form"
                  method="post"
                  action="{% url lfs_export_add_export %}">
                {% csrf_token %}
                <table>
                    {% include "manage/lfs_form.html" %}
                </table>
                <div class="buttons">
                    <input type="submit" 
                           name="save" 
                           class="button"
                           value="{% trans 'Save' %}" />
                    <input type="button"
                           class="button"
                           onclick="window.location='{% url lfs_export_dispatcher %}'"
                           value="{% trans 'Cancel' %}" />
                </div>           
            </form>
        </div>
    </div>
    <script>
        $(function() {
            $("#id_name").live("keyup", function() {
                var slug = $("#id_name").val()
                slug = URLify(slug, 200)
                $("#id_slug").val(slug);
            });
        });
    </script>
{% endblock %}