<ul style="list-style-type: none">
	{% for category in categories %}
		<li class="category {{ category.klass }}"
		    data="{% url lfs_export_category_state export_id category.id %}">
			<input id="export-category-input-{{ category.id }}"
				   class="export-category-input {{ category.klass }}"
			       type="checkbox"
			       data="{% url lfs_export_edit_category export_id category.id %}"
			 	   {% if category.checked %}checked="checked"{% endif %} />

			<a class="category-ajax-link collapsed"
			   id="{{ category.id }}"
			   href="{% url lfs_export_inline export_id category.id %}">
 				(C) {{ category.name }}
			</a>

			<span class="category-state" id="category-state-{{ category.id }}">
				{% ifequal category.klass "half" %}(1/2){% endifequal %}
			</span>
			<select class="category-variants-options"
				    data="{% url lfs_export_update_category_variants_option export_id category.id %}"
				{% for option in category.options %}
					<option value="{{ option.value }}"
				            {% if option.selected %}selected="selected"{% endif %}>
						{{ option.name }}
					</option>
				{% endfor %}
			</select>
			<div id="sub-categories-{{ category.id }}"></div>
		</li>
	{% endfor %}
	{% for product in products %}
		<li>
			<input class="export-product-input"
				   type="checkbox"
				   data = "{% url lfs_export_edit_product export_id product.id %}"
				   {% if product.checked %}checked="checked"{% endif %} />
			<a class="product-ajax-link"
			   id="product-{{ product.id }}">
 				({{ product.type }}) {{ product.name }}
			</a>
		</li>
	{% endfor %}
</ul>