{% load i18n %}

<h2 class="heading-first">{% trans 'Attachments' %}</h2>

<div id="attachments-list">
    {% include "manage/product/attachments-list.html" %}
</div>

<h2 class="heading-middle">{% trans 'Add attachments' %}</h2>

<div id="content">
    <form id="attachment_upload" action="{% url 'lfs_manage_add_attachment' product.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="button" type="file" name="files[]" multiple>
    </form>
    <table id="attachment-uploads-table" data="{% url 'lfs_manage_attachments' product.id %}" msg='{% trans "Uploading attachments:" %}'></table>
</div>