{% load i18n %}
<div class="navigation-pages">
    {% if page.has_previous %}
        <a class="ajax-link"
           href="{% url lfs_set_products_page %}?page=1&amp;product-id={{ product_id }}">
            <img src="{{ STATIC_URL }}icons/resultset_first.png"
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />
        </a>
        <a class="ajax-link"
           href="{% url lfs_set_products_page %}?page={{ page.previous_page_number }}&amp;product-id={{ product_id }}">
            <img src="{{ STATIC_URL }}icons/resultset_previous.png"
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />
        </a>
    {% else %}
        <span>
            <img src="{{ STATIC_URL }}icons/resultset_first.png"
                 alt="{% trans 'First' %}"
                 title="{% trans 'First' %}" />
        </span>
        <span>
            <img src="{{ STATIC_URL }}icons/resultset_previous.png"
                 alt="{% trans 'Previous' %}"
                 title="{% trans 'Previous' %}" />
        </span>
    {% endif %}

    {{ page.number }}  {% trans 'of' %} {{ paginator.num_pages }}

    {% if page.has_next %}
        <a class="ajax-link"
           href="{% url lfs_set_products_page %}?page={{ page.next_page_number }}&amp;product-id={{ product_id }}">
            <img src="{{ STATIC_URL }}icons/resultset_next.png"
                 alt="{% trans 'Next' %}"
                 title="{% trans 'Next' %}" />
        </a>
        <a class="ajax-link"
           href="{% url lfs_set_products_page %}?page={{ paginator.num_pages }}&amp;product-id={{ product_id }}">
            <img src="{{ STATIC_URL }}icons/resultset_last.png"
                 alt="{% trans 'Last' %}"
                 title="{% trans 'Last' %}" />
        </a>
    {% else %}
        <img src="{{ STATIC_URL }}icons/resultset_next.png"
             alt="{% trans 'Next' %}"
             title="{% trans 'Next' %}" />
        <img src="{{ STATIC_URL }}icons/resultset_last.png"
             alt="{% trans 'Last' %}"
             title="{% trans 'Last' %}" />
    {% endif %}
</div>
