{% load i18n %}

<h2>{% trans 'Price calculator' %}</h2>

<form action="{% url lfs_manage_product_price_calculator product.id %}"
      method="post"
      id="product-price-calculator-form">

    <div class="field">
        <table>
        {{ form.as_table }}
        </table>
    </div>

    <div class="buttons">
        <input type="submit" 
               value="Save Price Calculator"
               class="button price-calculator-save-button" />
    </div>
</form>

<script>
    $("input.button").button();    
</script>