{% load i18n crispy_forms_tags %}

<h5 id="modal-title-lg" class="modal-title" hx-swap-oob="true">
    {% trans 'Add' %} {% trans portlet_type_name %}
</h5>
<div class="modal-body">
    <form id="portlet-add-form" action="{% url 'lfs_add_portlet' object_type_id object_id %}"
          method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_slot" class="form-label">{% trans 'Slot' %}</label>
            <select id="id_slot" name="slot" class="form-select">
                {% for slot in slots %}
                    <option value="{{ slot.id }}"
                        {% if slot.selected %}selected="selected"{% endif %}>
                        {{ slot.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div id="portlet-form-inline">
            {{ form|crispy }}
        </div>

        <input type="hidden" name="portlet_type" value="{{ portlet_type }}" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
    <button type="submit" form="portlet-add-form" class="btn btn-primary ajax-save-button">
        <i class="bi bi-save me-1"></i>
        {% trans 'Save portlet' %}
    </button>
</div>
