{% load i18n %}
<h5 id="modal-title-lg" class="modal-title" hx-swap-oob="true">
    {% trans 'Delete Property Group' %}
</h5>
<div class="modal-body">
    <p>{% trans 'Do you really want to delete this property group?' %}</p>
    <p><strong>{{ property_group.name }}</strong></p>
    <form method="post" action="{% url 'lfs_delete_property_group' property_group.id %}">
        {% csrf_token %}
        <div class="mt-3">
            <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                {% trans 'Cancel' %}
            </button>
        </div>
    </form>
</div>
